<ul class="flex bg-black p-3">
    <li class="mr-6">
        <span class="text-white hover:text-blue-500 font-semibold cursor-pointer">Swapp</span>
    </li>
    <li class="mr-6">
        <a class="text-white hover:text-blue-500 font-medium" routerLink="/movies" routerLinkActive="active">🎥 Movies</a>
    </li>
    <li class="mr-6">
      <a class="text-white hover:text-blue-500" routerLink="/species">👽 Species</a>
    </li>
    <li class="mr-6">
      <a class="text-white hover:text-blue-500" routerLink="/planets">🌍 Planets</a>
    </li>
    <li class="mr-6">
      <a class="text-white hover:text-blue-500" routerLink="/starships">🚀 Starships</a>
    </li>
</ul>

<router-outlet></router-outlet>