<ul class="flex bg-black p-3">
    <li class="mr-6">
      <a class="text-white hover:text-white" routerLink="/movies" routerLinkActive="active">Movies</a>
    </li>
    <li class="mr-6">
      <a class="text-white hover:text-white" routerLink="/species">Species</a>
    </li>
    <li class="mr-6">
      <a class="text-white hover:text-white" routerLink="/planets">Planets</a>
    </li>
    <li class="mr-6">
      <a class="text-white hover:text-white" routerLink="/starships">Starships</a>
    </li>
  </ul>
<router-outlet></router-outlet>