<app-table 
    *ngIf="!openingConfig.show"
    [datasource]="movies ? movies.results : null" 
    [cols]="cols"
    (rowclicked)="movieRowClicked($event)">
</app-table>

<app-characters 
    [show]="showCharacters"
    (close)="openOrCloseCharacters()"
    [movie]="selectedMovieChars">
</app-characters>

<app-opening 
    *ngIf="openingConfig.show"
    [stars]="openingConfig.stars"
    [crawl]="openingConfig.opening_crawl"
    [episode]="openingConfig.episode"
    [title]="openingConfig.title"
    (onclose)="closeOpening()"
></app-opening>